@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
    --color-main: #2f4f6a;
    --font-sourGummy: "Sour Gummy", cursive;
}

body {
    font-family: var(--font-sourGummy), sans-serif;
}